footer {
    background-color: black;
    color: white;
}

.footer {
    max-width: 110.0rem;

    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto;
    align-items: baseline;
    column-gap: 15.0rem;
    padding: 2.0rem;
    margin-inline: 5.0rem;
}

.descricao p {
    max-width: 32ch;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.2rem;
    margin-top: 13.0rem;
}

.contato {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.0rem;
}

.rodape {
    margin-bottom: 6.0rem;
}

.rodape p {
    font-size: 1.8rem;
}

@media(max-width:825px) {
    .footer {
        grid-template-columns: 1fr;
        /* grid-template-rows: repeat(3, 1fr); */
        justify-items: center;
        gap: 2.0rem;
    }

    .descricao p {
        margin-top: 5.0rem;
    }

    .rodape {
        margin-top: 4.0rem;
        margin-bottom: 0rem;
    }

    .contato {
        font-size: 28px;
    }
}