header {
    max-width: 110.0rem;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3.0rem;
    margin-top: 2.0rem;
    margin-bottom: 8.0rem;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4.0rem;
    margin: 0rem;
    padding: 0rem;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0 1.0rem;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 6.0rem;

}

@media (max-width:970px) {
    .nav-menu {
        flex-direction: column;
        gap: 4.0rem;
    }

    .menu {
        justify-content: center;
    }

    .menu a {
        background-color: var(--cards-item);
        border-radius: 1.2rem;
    }
}

@media(max-width:500px) {
    .menu {
        max-width: 20.0rem;
    }
}