.introducao {
    max-width: 110rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
}

.perfil-img {
    max-width: 36.0rem;
}

.titulo h1 {
    max-width: 120.0rem;
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 8.0rem;
    margin: 0px;
    position: relative;
}

.titulo h1::before {
    content: "";
    width: 12.0rem;
    height: 12.0rem;
    position: absolute;
    top: -3.0rem;
    left: -3.0rem;
    z-index: -1;
    background-image: url(/assets/Img/detalhe.svg);
}

.titulo p {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.88rem;
}

@media(max-width:600px) {
    .introducao {
        margin: 1.0rem auto;
        gap: 0px;
    }

    .titulo h1 {
        font-size: 6.0rem;
        line-height: 7.0rem;
    }

    .perfil-img {
        display: none;
    }
}

@media(max-width:522px) {
    .titulo h1 {
        font-size: 4.0rem;
        line-height: 5.0rem;
    }

    .titulo h1::before {
        width: 6.0rem;
        height: 6.0rem;
        background-size: cover;
        top: -0.8rem;
        left: -1.6rem;
    }

    .titulo p {
        font-size: 1.8rem;
    }
}