@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;800&display=swap');

:root {
    --exp-tiulo: #E0E0E0;
    --cards-item: #F0F0F0;
    --skills: #FFFFFF;
    --black: #292929;
    --white: #ffffff;
    --formacao-texto: #A3A3A3;
    --brancoh3: #8F8F8F;


}

html {
    width: 100vw;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fira Sans';
    /* overflow-x: hidden; */

}

/* Header */
.nav-menu {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0px;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: black;
    /* border: 5px solid black; */
    padding: 0px 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;

}

/* ////////////////////////////// MAIN /////////////////////////////////////// */

/* Introdução */
main {
    /* border: 5px solid red; */
}

.introducao {
    max-width: 1100px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
    margin-bottom: 120px;
    /* border: 4px solid red; */
}

.perfil-img {
    width: 360px;
    height: 520px;
}

.titulo h1 {
    width: 12ch;
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
    margin: 0px;
    position: relative;

}

.titulo h1::before {
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: -1;
    background-image: url(/assets/Img/detalhe.svg);
}

.titulo p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
}

/* Experiência */

.experiencia {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 60px;
    /* border: 5px solid black; */

    display: grid;
    grid-template-columns: 1fr;
}

.exp-descricao {
    /* border: 5px solid blue; */
    width: 560px;
    justify-self: center;
    height: 128px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-top: 14px;
    margin-bottom: 60px;
}

.exp-titulo {
    grid-row: 1/3;
    align-self: flex-start;
    /* border:5px solid blue; */

}

.exp-titulo h1 {
    word-wrap: break-word;
    text-transform: uppercase;
    width: 329px;
    height: 432px;
    /* border: 3px solid red; */
    font-size: 144px;
    font-weight: 700;
    line-height: 144px;
    color: var(--exp-tiulo);
    margin: 0px;
}

.exp-cards {
    /* border: 5px solid red; */
    grid-column: 2;
    grid-row: 2/2;
    display: grid;
    gap: 20px;
}

.exp-cards-item {
    /* border: 5px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.exp-cards-item .ano {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-self: flex-start;
    margin-top: 20px;
    position: relative;
}



.card {
    box-sizing: border-box;
    max-width: 660px;
    width: 660px;
    height: 140px;
    padding-left: 20px;
    background-color: var(--cards-item);
    border-radius: 5px;
    /* border: 5px solid orange; */

    display: grid;
    gap: 50px;
    grid-template-columns: 325px 1fr;
}

.card h2 {
    margin: 20px 0px 10px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    position: relative;
}

.card-descricao h2::after {
    content: "";
    background-image: url(/assets/Img/Rectangle\ 31.svg);
    width: 4px;
    height: 20px;
    position: absolute;
    left: -23px;
    z-index: 3;
}


.card-descricao p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.card-skills {
    /* border: 4px solid purple; */
}

.skills {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills li {
    padding: 5px 10px;
    background-color: var(--skills);
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}

.skills li:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.5s ease;

}

/* Formação */
.div-formacao {
    background-color: var(--black);
    height: 960px;
}

.formacao-info {

    margin: 0 auto;
    width: 1100px;
    height: 378px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.formacao-titulo h1 {
    word-wrap: break-word;
    text-transform: uppercase;
    width: 378px;
    height: 288px;
    /* border: 3px solid red; */
    font-size: 144px;
    font-weight: 700;
    line-height: 144px;
    margin-top: 80px;
    margin-right: 60px;
    margin-left: 60px;
}

.formacao-info {
    grid-column: 2;
    margin-top: 121px;
    height: 800px;
    width: 100%;
    /* border: 5px solid red */

}

.formacao-info p {
    color: var(--formacao-texto);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* width: 800px; */
    margin-bottom: 60px;
}

.info-descricao {
    max-width: 523px;
    max-height: 128px;
    /* border: 5px solid red; */
    margin-top: 80px;
}

.formacao-info strong {
    color: #fff;
    font-weight: 700;
}

.formacao-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 600px;
    /* display: grid;
    border: 5px solid rgb(177, 47, 47);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px; */
}

.formacao-card-item {
    background-color: #000;
    max-width: 180px;
    max-height: 170px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    justify-content: start;

}


.formacao-card-item h3 {
    color: var(--formacao-texto);
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}

.formacao-card-item p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 20px;
}

.formacao-card-item h2 {
    color: var(--white);
    max-width: 140px;
    font-size: 24px;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 40px;
    position: relative;
}

.formacao-card-item h2::before {
    content: "";
    background-image: url(/assets/Img/Rectangle\ 31.svg);
    width: 4px;
    height: 20px;
    position: absolute;
    left: -23px;
    top: 4px;
    z-index: 3;
}

.formacao-card-item .user {
    width: 200px;

}

.info-extra-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 5px solid white; */
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 600px;
    width: 650px;

    /* border: 5px solid green; */

    margin-top: 58px;


}

.info-extra-item h3 {
    color: var(--brancoh3);
    position: relative;
    text-transform: uppercase;
}

.info-extra-item h3::before {
    content: "";
    background-image: url(/assets/Img/cursos.svg);
    max-width: 24px;
    max-height: 28px;
    width: 24px;
    height: 28px;
    position: absolute;
    left: -40px;
    top: -1px;
}

.cursos {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 100%; */
    width: 100%;
    /* border: 5px solid blue; */
    justify-content: space-between;

}

.cursos p {
    height: 50px;

    display: inline-block;
    margin: 0px;
    color: var(--white);
}

.idioma {
    max-width: 600px;
    width: 650px;

}

.idioma h3 {
    color: var(--brancoh3);
    position: relative;
    text-transform: uppercase;
}


.idioma h3::before {
    content: "";
    background-image: url("/assets/Img/idiomas.svg");
    max-width: 24px;
    width: 24px;
    height: 28px;
    max-height: 28px;
    position: absolute;
    left: -38px;
    top: -1px;
}



.idioma p {
    margin: 0px;
    height: 50px;
    color: var(--white);
}

p.p-cinza,
span.p-cinza {
    color: var(--brancoh3)
}

/* footer */

footer {

    background-color: black;
    color: white;
    padding-right: 120px;
    display: grid;
    grid-template-columns: 429px 200px;
    justify-content: center;
    align-items: baseline;
    column-gap: 280px;
}

.descricao {
    max-width: 429px;
    max-height: 96px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 130px;

}

.contato {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;

}

.rodape {
    margin-bottom: 60px;
}

.rodape p {
    font-size: 18px;
}


/* media */
@media (max-width:1200px) {

    .introducao {
        justify-content: center;

    }

    .formacao-info {

        display: grid;
        grid-template-columns: 1fr;
        /* justify-content: center; */
        align-items: center;
    }

    .formacao-titulo {

        display: grid;

        justify-content: center;
        margin: 0 auto;
    }

    .formacao-titulo h1 {
        word-break: break-all;
        width: 400px;
        max-width: 100%;
        margin: 0px;
    }

    .div-formacao {
        height: 1200px;
    }

    .formacao-cards {
        width: 400px;
    }

    .center {
        display: grid;
        max-width: 500px;
        justify-content: center;
    }

    /* media Exp */
    .experiencia {

        /* border: 5px solid black; */
        margin: 0px auto;
        display: grid;
        justify-content: center;
        justify-items: start;
        grid-template-columns: 800px;
        grid-template-rows: 1fr auto 1fr;
    }

    .exp-titulo {
        justify-self: center;
    }

    .exp-descricao {
        grid-row: 2;
        grid-column: 1;
    }

    .exp-cards {
        /* border: 5px solid red; */
        grid-column: 1;
        grid-row: 3;
        justify-items: center;
        width: 500px;
    }

    .info-extra-item {
        width: 500px;
    }

    li.exp-cards-item {
        grid-template-columns: 50px 1fr;

        width: 600px;
    }

    .card {
        grid-template-columns: 200px 280px;
        max-width: 500px;
        height: 180px;
    }

    .exp-titulo {
        grid-column: 1;
    }


    .formacao-info {
        justify-items: center;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        justify-content: center;
        margin-top: 40px;
        padding-left: 0px;
    }

    .menu a {
        background-color: #F0F0F0;
    }

    footer {
        grid-template-columns: 1fr;
    }
}