@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;800&display=swap');

:root {
    --exp-tiulo: #E0E0E0;
    --cards-item: #F0F0F0;
    --skills: #FFFFFF;
    --black: #292929;
    --white: #ffffff;
    --formacao-texto: #A3A3A3;
    --brancoh3: #8F8F8F;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fira Sans';
    overflow-x: hidden;

}

/* Header */
.nav-menu {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0px;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;

}

/* ////////////////////////////// MAIN /////////////////////////////////////// */

/* Introdução */
.introducao {
    max-width: 1100px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
    margin-bottom: 120px;
    /* border: 4px solid red; */
}

.perfil-img {
    width: 360px;
    height: 520px;
}

.titulo h1 {
    width: 12ch;
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
    margin: 0px;
    position: relative;

}

.titulo h1::before {
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: -1;
    background-image: url(/assets/Img/detalhe.svg);
}

.titulo p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
}

/* Experiência */

.experiencia {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 60px;
    /* border: 5px solid black; */

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.exp-descricao {
    /* border: 5px solid blue; */
    width: 560px;
    justify-self: center;
    height: 128px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-top: 14px;
    margin-bottom: 60px;
}

.exp-titulo {
    grid-row: 1/3;
    align-self: flex-start;
    /* border:5px solid blue; */

}

.exp-titulo h1 {
    word-wrap: break-word;
    text-transform: uppercase;
    width: 329px;
    height: 432px;
    /* border: 3px solid red; */
    font-size: 144px;
    font-weight: 700;
    line-height: 144px;
    color: var(--exp-tiulo);
    margin: 0px;
}

.exp-cards {
    /* border: 5px solid red; */
    grid-column: 2;
    grid-row: 2/2;
    display: grid;
    gap: 20px;
}

.exp-cards-item {
    /* border: 5px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.exp-cards-item .ano {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-self: flex-start;
    margin-top: 20px;
    position: relative;
}



.card {
    box-sizing: border-box;
    width: 660px;
    height: 140px;
    padding-left: 20px;
    background-color: var(--cards-item);
    border-radius: 5px;
    /* border: 5px solid orange; */

    display: grid;
    gap: 50px;
    grid-template-columns: 325px 1fr;
}

.card h2 {
    margin: 20px 0px 10px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    position: relative;
}

.card-descricao h2::after {
    content: "";
    background-image: url(/assets/Img/Rectangle\ 31.svg);
    width: 4px;
    height: 20px;
    position: absolute;
    left: -23px;
    z-index: 3;
}


.card-descricao p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.card-skills {
    /* border: 4px solid purple; */
}

.skills {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills li {
    padding: 5px 10px;
    background-color: var(--skills);
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}

.skills li:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.5s ease;

}

/* Formação */
.div-formacao {
    background-color: var(--black);
    height: 958px;
}

.formacao {

    margin: 0 auto;
    width: 1100px;
    height: 378px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.formacao-titulo h1 {
    word-wrap: break-word;
    text-transform: uppercase;
    width: 378px;
    height: 288px;
    /* border: 3px solid red; */
    font-size: 144px;
    font-weight: 700;
    line-height: 144px;
    margin-top: 105px;
    margin-right: 60px;
}

.formacao-info {
    grid-column: 2;
    margin-top: 121px;
    height: 800px;
    /* border: 5px solid red */

}

.formacao-info p {
    color: var(--formacao-texto);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    width: 523px;
    height: 128px;
    margin-bottom: 60px;
}

.formacao-info strong {
    color: #fff;
    font-weight: 700;
}

.formacao-cards {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.formacao-card-item {
    background-color: #000;
    width: 180px;
    height: 170px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    justify-content: start;

}


.formacao-card-item h3 {
    color: var(--formacao-texto);
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}

.formacao-card-item p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 20px;
}

.formacao-card-item h2 {
    color: var(--white);
    width: 140px;
    font-size: 24px;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 40px;
    position: relative;
}

.formacao-card-item h2::before {
    content: "";
    background-image: url(/assets/Img/Rectangle\ 31.svg);
    width: 4px;
    height: 20px;
    position: absolute;
    left: -23px;
    top: 4px;
    z-index: 3;
}

.formacao-card-item .user {
    width: 200px;

}

.info-extra-item {
    display: flex;
    align-items: flex-start;

    flex-direction: column;
    width: 696px;

    /* border: 5px solid green; */

    margin-top: 58px;


}

.info-extra-item h3 {
    color: var(--brancoh3);
    position: relative;
}

.info-extra-item h3::before {
    content: "";
    background-image: url(/assets/Img/cursos.svg);
    width: 24px;
    height: 28px;
    position: absolute;
    left: -40px;
    top: -1px;
}

.cursos {
    display: flex;
}

.cursos p {
    height: 50px;

    display: inline-block;
    margin: 0px;
    color: var(--white);
}

.idioma h3 {
    color: var(--brancoh3);
    position: relative;
}

.idioma h3::before {
    content: "";
    background-image: url("/assets/Img/idiomas.svg");
    width: 24px;
    height: 28px;
    position: absolute;
    left: -38px;
    top: -1px;
}



.idioma p {
    margin: 0px;
    height: 50px;
    color: var(--white);
}

/* footer */

footer {

    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: 429px 200px;
    justify-content: center;
    align-items: baseline;
    column-gap: 250px;
}

.descricao {
    width: 429px;
    height: 96px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 130px;

}

.contato {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.rodape {
    margin-bottom: 60px;
}